* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image:url("../img/cover.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  display:flex;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}

#container {
  margin-top:100px;
  margin-bottom:auto;
  width: 80%;
  max-width: 500px;
  margin-inline: auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.413);
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
  border: 2px;
  box-shadow: 2px 6px 15px 5px black;
  backdrop-filter: blur(1px);
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  opacity: 0.9;
  color:white;
}

#click {
  margin-bottom: 40px;
  opacity: 0.8;
  color:white;
}

input, button {
  display: block;
  width: 100%;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

input {
  margin-bottom: 20px;
  text-align: center;
}

button {
  border:none;
  background-color: rgb(69, 28, 133);
  color: white;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#dev{
  color: white;
  font-style: italic;
  opacity: 0.8;
  margin-top: 20px;
}

#guru {
  margin-bottom: 20px;
  font-size: 52px;
  font-family: 'Rokkitt', serif;
  color: white;
  text-decoration: none;
}

#resposta {
  margin-top: 30px;
  color:white;
  transition: opacity 2s;
}

#resposta div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 10px;
  color: white
}